(:sheet "StripWholeLSB" [(:input "Type" "MSB021" 0 (148 60) {}) (:symbol "Compare" 1 [("A" "Variant") ("B" "Variant") ("ClkG" "Bit") ("AClr" "Bit") ("Go" "Variant") ("Wait" "Bit")] [("A<B" "Variant") ("A=B" "Variant") ("A>B" "Variant") ("ClkG" "Bit") ("AClr" "Bit") ("Done" "Bit") ("Busy" "Variant")] (52 82) {})] [] [])
