(:module ("StripWholeLSB" [("In1" "List")] [("WholeLSB" "List") ("Out2" "List")] {"TreeGroup" "BotControl"}) [(:input "Type" "MSB021" "E" (148 60) {}) (:symbol "Compare" [("A" "Variant") ("B" "Variant") ("ClkG" "Bit") ("AClr" "Bit") ("Go" "Variant") ("Wait" "Bit")] [("A<B" "Variant") ("A=B" "Variant") ("A>B" "Variant") ("ClkG" "Bit") ("AClr" "Bit") ("Done" "Bit") ("Busy" "Variant")] (52 82) {})])
