(:object
  (:proto "StripWholeLSB" [("List" "In1")] [("List" "WholeLSB") ("List" "Out2")]
          {:TreeGroup "BotControl"})
  [
    (:proto "Input" [] [("List" "In1")] {:gui [(24 32)]})
    (:proto "Output" [("List" "WholeLSB")] [] {:gui [(88 31)]})
    (:proto "Output:A" [("List" "Out2")] [] {:gui [(88 40)]})
    (:proto "ListIn" [("List" "In")] [("Variant" "Out1") ("Variant" "Out2")] {:gui [(29 30)]})
    (:proto "ListOut" [("Variant" "In1") ("Variant" "In2")] [("List" "Out")] {:gui [(73 38)]})
    (:proto "ListOut:A" [("Variant" "In1") ("Variant" "In2")] [("List" "Out")] {:gui [(74 29)]})
    (:proto "StripWholeLSB" [("Variant" "In1")] [("Variant" "WholeLSB") ("Variant" "Out2")] {:gui [(47 38)]})
    (:proto "StripWholeLSB:A" [("Variant" "In1")] [("Variant" "WholeLSB") ("Variant" "Out2")] {:gui [(47 29)]})
    ])
