(:module ("StripWholeLSB" [("List" "In1")] [("List" "WholeLSB") ("List" "Out2")] {"TreeGroup" "BotControl"}) [(:input "Type" "MSB021" "E" (148 60) {}) (:symbol "Compare" [("Variant" "A") ("Variant" "B") ("Bit" "ClkG") ("Bit" "AClr") ("Variant" "Go") ("Bit" "Wait")] [("Variant" "A<B") ("Variant" "A=B") ("Variant" "A>B") ("Bit" "ClkG") ("Bit" "AClr") ("Bit" "Done") ("Variant" "Busy")] (52 82) {})])
